<section>
  <div class="flex-center-col">
    <h4 class="poppins-extrabold-16 py-1">Media</h4>
    <h2 class="volkhov-bold-50 py-1">Top News</h2>
    <div class="flex-center">
      <button class="btn-grey active">All News</button>
      <button
        *ngFor="let category of allCategories"
        class="btn-grey"
        (click)="getNewsByCategory(category.name)"
      >
        {{ category.name }}
      </button>
    </div>
    <div class="flex-center-wrap">
      <app-news-card
        *ngFor="let news of addToHomeNews | slice : 0 : 6; let i = index"
        [news]="news"
      ></app-news-card>
    </div>
  </div>
</section>
