.card-col-2 {
  margin-top: 62px;
}
.card-col-3 {
  margin-top: -62px;
}
.text-container {
  width: 150%;
  height: 460px;
  position: relative;
  z-index: 0;
  margin-right: 5rem;
  padding: 2rem 0rem 0rem 10rem;
  h2 {
    padding: 1rem 3rem;
    margin-left: 14rem;
  }
  p {
    padding-left: 3rem;
  }
}
.img-container {
  position: relative;
  z-index: 1;
  right: -200px;
}
